<h2 mat-dialog-title>
    Détails commune
    <button mat-mini-fab color="primary" (click)="openHelp()" matTooltip="Afficher l'aide. [Raccourci : shift+a]">
        <mat-icon>live_help</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <h3>
        {{ department.insee }} - {{ department.name }}
        <a href="https://www.openstreetmap.org/relation/{{ osmId }}" target="_blank">
            <mat-icon>link</mat-icon>
        </a>
    </h3>
    {{ lastImport }}

    <ng-container *ngIf="details$ | async as details">
        <apx-chart
            *ngIf="(details?.dates | count) > 0"
            [labels]="details.dates | keyvalue | map: 'key' | legend"
            [series]="details.dates | keyvalue | map: 'value'"
            [colors]="details.dates | keyvalue | map: 'key' | legend: 'color'"
            [chart]="{ type: 'donut', height: 300 }"
            [legend]="{ position: 'bottom' }"
            [title]="{ text: 'Nombre de communes par date d\'import', align: 'center' }"
        ></apx-chart>

        <div *ngIf="(details?.simplified | count) > 0">
            <h4>
                {{ details.simplified | count }} Bâtiments simplifiés
                <a (click)="editNodes(details.simplified)">
                    <mat-icon svgIcon="josm"></mat-icon>
                </a>
            </h4>
            <ul>
                <li class="li-simplified" *ngFor="let i of details.simplified">
                    <span>{{ i }}</span>
                    <a href="https://www.openstreetmap.org/node/{{ i }}" target="_blank">
                        <mat-icon svgIcon="osm"></mat-icon>
                    </a>
                    <a (click)="editNodes([i])">
                        <mat-icon svgIcon="josm"></mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions class="row-wrapper">
    <button mat-raised-button cdkFocusInitial mat-dialog-close matTooltip="Ferme la popup. [Raccourci : F]">
        Fermer
    </button>
</mat-dialog-actions>
